# Hello Learners,

If you're just getting started with Python, Data Analytics, or looking to step into the world of Data Science — I’ve got something super valuable for you! 

I’ve created a set of 50 Pandas practice questions, based on real-world use-cases, complete with answers and a realistic hospital dataset (500+ rows). This is perfect for:

# Master Pandas with 30 Real-World Practice Questions (With Answers & Dataset)
If you're stepping into Data Analysis, Data Science, or working with Power BI / Excel / Python, then mastering Pandas is non-negotiable.

That’s why I’ve curated 50 carefully designed practice questions that cover the entire Pandas workflow — from basics to real-time problem-solving.

# What’s Included?
1. Importing & Reading Excel/CSV Files
2. Data Cleaning & Missing Value Handling
3. Filtering, Sorting, Conditional Logic
4. GroupBy, Aggregation & Pivot Tables

**First Step is how to import Pandas**

In [31]:
import pandas as pd

**Second step is How to read our File**

In [74]:
df = pd.read_excel(r"C:\Users\DELL\Downloads\hospital_data.xlsx")
df

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52.0,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,43183.44,Unpaid
1,P0002,Noah Rhodes,93.0,Male,Orthopedics,Brian Fitzgerald,2025-06-07,NaT,50588.18,Paid
2,P0003,Angie Henderson,15.0,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,64613.02,Paid
3,P0004,Daniel Wagner,72.0,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61.0,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid
...,...,...,...,...,...,...,...,...,...,...
495,P0496,Lawrence Harrington,93.0,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,82822.94,Unpaid
496,P0497,Austin Osborne,67.0,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,88999.61,Pending
497,P0498,James Bradley,76.0,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,26667.58,Pending
498,P0499,Meghan Rush,26.0,Other,Oncology,Edgar Miller,2024-06-28,2025-04-21,25144.26,Pending
499,P0500,Phillip Berry,16.0,Male,Cardiology,Elizabeth Sanders,2024-02-10,2025-05-24,63043.19,Unpaid

**Q1- Display first 10 rows**
The .head() function in Pandas is used to view the first few rows of a DataFrame.

In [46]:
df.head(10)

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52.0,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,43183.44,Unpaid
1,P0002,Noah Rhodes,93.0,Male,Orthopedics,Brian Fitzgerald,2025-06-07,NaT,50588.18,Paid
2,P0003,Angie Henderson,15.0,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,64613.02,Paid
3,P0004,Daniel Wagner,72.0,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61.0,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid
5,P0006,Connie Lawrence,21.0,Female,Pediatrics,NaN,2024-11-22,2025-05-04,77985.97,Unpaid
6,P0007,Abigail Shaffer,83.0,Male,Neurology,Brandon Fleming,2024-09-07,2024-09-11,44687.84,Pending
7,P0008,Gina Moore,87.0,Other,Neurology,Emma Reed,2024-05-09,2025-01-18,45028.92,Paid
8,P0009,Gabrielle Davis,75.0,Male,Orthopedics,Joshua Vance,2023-12-03,2025-05-12,75070.32,Unpaid
9,P0010,Ryan Munoz,NaN,Female,Orthopedics,Michelle Ho,2024-04-26,2025-05-04,27683.83,Pending

In [34]:
df.shape

(500, 10)

**Q-2 Find total number of missing values in each column**

The .sum() function in Pandas is used to calculate the total (sum) of values in a column, row, or entire DataFrame — typically for numeric data.

In [45]:
df.isnull().sum()

Patient_ID         0
Name               0
Age               25
Gender             0
Department         0
Doctor            25
Admission_Date     0
Discharge_Date    25
Bill_Amount       25
Payment_Status     0
dtype: int64

**Q-3 Drop rows where Doctor name is missing**

Explanation:
df = Your original DataFrame

.dropna() = Removes rows with missing (NaN) values

subset=["Doctor"] = Tells Pandas to only look at the 'Doctor' column

df_cleaned = A new DataFrame with those rows removed (original df remains unchanged)

In [41]:
df_cleaned = df.dropna(subset=["Doctor"])
df_cleaned

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52.0,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,43183.44,Unpaid
1,P0002,Noah Rhodes,93.0,Male,Orthopedics,Brian Fitzgerald,2025-06-07,NaT,50588.18,Paid
2,P0003,Angie Henderson,15.0,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,64613.02,Paid
3,P0004,Daniel Wagner,72.0,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61.0,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid
...,...,...,...,...,...,...,...,...,...,...
495,P0496,Lawrence Harrington,93.0,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,82822.94,Unpaid
496,P0497,Austin Osborne,67.0,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,88999.61,Pending
497,P0498,James Bradley,76.0,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,26667.58,Pending
498,P0499,Meghan Rush,26.0,Other,Oncology,Edgar Miller,2024-06-28,2025-04-21,25144.26,Pending
499,P0500,Phillip Berry,16.0,Male,Cardiology,Elizabeth Sanders,2024-02-10,2025-05-24,63043.19,Unpaid

**Q- 4 How to view the first 5 rows of a DataFrame**
df.head(5) returns the first 5 rows of a Pandas DataFrame.

It’s mainly used for previewing your data right after loading it — to quickly understand the structure, values, and column types.

In [42]:
df.head(5)

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52.0,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,43183.44,Unpaid
1,P0002,Noah Rhodes,93.0,Male,Orthopedics,Brian Fitzgerald,2025-06-07,NaT,50588.18,Paid
2,P0003,Angie Henderson,15.0,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,64613.02,Paid
3,P0004,Daniel Wagner,72.0,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61.0,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid

**Q-5 How to get a summary of the DataFrame**
The df.info() function provides a summary of the DataFrame, including:

Number of rows and columns

Column names and their data types

Number of non-null values in each column

Memory usage

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      500 non-null    object
 1   Name            500 non-null    object
 2   Age             475 non-null    float64
 3   Gender          500 non-null    object
 4   Department      500 non-null    object
 5   Doctor          475 non-null    object
 6   Admission_Date  500 non-null    datetime64[ns]
 7   Discharge_Date  475 non-null    datetime64[ns]
 8   Bill_Amount     475 non-null    float64
 9   Payment_Status  500 non-null    object
dtypes: datetime64[ns](2), float64(2), object(6)
memory usage: 39.2+ KB

**Q- 6 How to get descriptive statistics for numeric columns?**

The .describe() function in Pandas provides summary statistics for all numeric columns in the DataFrame.

It helps you quickly understand the distribution and range of your data.

In [44]:
df.describe()

,Age,Admission_Date,Discharge_Date,Bill_Amount
count,475.000000,500,475,475.000000
mean,48.917895,2024-07-25 06:20:09.600000,2025-01-12 22:13:53.684210432,54018.437284
min,1.000000,2023-07-16 00:00:00,2024-07-12 00:00:00,5469.300000
25%,24.000000,2024-02-02 00:00:00,2024-10-08 12:00:00,28930.205000
50%,50.000000,2024-07-23 12:00:00,2025-01-19 00:00:00,55692.240000
75%,72.000000,2025-01-17 06:00:00,2025-04-15 00:00:00,77824.940000
max,99.000000,2025-07-12 00:00:00,2025-07-10 00:00:00,99944.300000
std,29.227169,NaN,NaN,27831.478150

**Q-7 Drop rows with any null values**
The dropna() function in pandas is used to remove rows (or columns) with missing/null values (NaN) from a DataFrame.
df: Your DataFrame.

dropna(): Drops rows by default that contain at least one NaN value.

inplace=True: Makes the change directly to the original DataFrame (no need to assign it back).

In [50]:
df.dropna(inplace=True)
df

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52.0,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,43183.44,Unpaid
2,P0003,Angie Henderson,15.0,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,64613.02,Paid
3,P0004,Daniel Wagner,72.0,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61.0,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid
6,P0007,Abigail Shaffer,83.0,Male,Neurology,Brandon Fleming,2024-09-07,2024-09-11,44687.84,Pending
...,...,...,...,...,...,...,...,...,...,...
495,P0496,Lawrence Harrington,93.0,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,82822.94,Unpaid
496,P0497,Austin Osborne,67.0,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,88999.61,Pending
497,P0498,James Bradley,76.0,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,26667.58,Pending
498,P0499,Meghan Rush,26.0,Other,Oncology,Edgar Miller,2024-06-28,2025-04-21,25144.26,Pending
499,P0500,Phillip Berry,16.0,Male,Cardiology,Elizabeth Sanders,2024-02-10,2025-05-24,63043.19,Unpaid

**Q-8 Fill missing Age with mean age**

| Part               | Explanation                                                                  |
| ------------------ | ---------------------------------------------------------------------------- |
| `df["Age"]`        | Refers to the `Age` column in the DataFrame.                                 |
| `.fillna(...)`     | Fills all `NaN` values with the specified value.                             |
| `df["Age"].mean()` | Calculates the mean of the non-null values in the `Age` column.              |
| `inplace=True`     | Applies the change directly to the DataFrame without needing to reassign it. |

In [57]:
df["Age"] = df["Age"].fillna(df["Age"].mean())

df

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52.0,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,43183.44,Unpaid
2,P0003,Angie Henderson,15.0,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,64613.02,Paid
3,P0004,Daniel Wagner,72.0,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61.0,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid
6,P0007,Abigail Shaffer,83.0,Male,Neurology,Brandon Fleming,2024-09-07,2024-09-11,44687.84,Pending
...,...,...,...,...,...,...,...,...,...,...
495,P0496,Lawrence Harrington,93.0,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,82822.94,Unpaid
496,P0497,Austin Osborne,67.0,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,88999.61,Pending
497,P0498,James Bradley,76.0,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,26667.58,Pending
498,P0499,Meghan Rush,26.0,Other,Oncology,Edgar Miller,2024-06-28,2025-04-21,25144.26,Pending
499,P0500,Phillip Berry,16.0,Male,Cardiology,Elizabeth Sanders,2024-02-10,2025-05-24,63043.19,Unpaid

**Q- 9 How to drop rows with any null values?**

| Component      | Description                                               |
| -------------- | --------------------------------------------------------- |
| `df`           | Your DataFrame                                            |
| `.dropna()`    | Removes all rows that have **any null values**            |
| `inplace=True` | Applies the change **directly to the original DataFrame** |

In [61]:
df.dropna(inplace=True)
df

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52.0,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,43183.44,Unpaid
2,P0003,Angie Henderson,15.0,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,64613.02,Paid
3,P0004,Daniel Wagner,72.0,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61.0,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid
6,P0007,Abigail Shaffer,83.0,Male,Neurology,Brandon Fleming,2024-09-07,2024-09-11,44687.84,Pending
...,...,...,...,...,...,...,...,...,...,...
495,P0496,Lawrence Harrington,93.0,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,82822.94,Unpaid
496,P0497,Austin Osborne,67.0,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,88999.61,Pending
497,P0498,James Bradley,76.0,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,26667.58,Pending
498,P0499,Meghan Rush,26.0,Other,Oncology,Edgar Miller,2024-06-28,2025-04-21,25144.26,Pending
499,P0500,Phillip Berry,16.0,Male,Cardiology,Elizabeth Sanders,2024-02-10,2025-05-24,63043.19,Unpaid

 # 11-20: Data Cleaning and Selection

**Q-11. How to fill null values in 'Age' column with mean?"**

| Part               | Description                                          |
| ------------------ | ---------------------------------------------------- |
| `df["Age"]`        | Selects the `'Age'` column.                          |
| `.fillna(...)`     | Replaces `NaN` values with the given value.          |
| `df["Age"].mean()` | Calculates the average (mean) of the `'Age'` column. |
| `=` assignment     | Saves the result back into the original column.      |

In [86]:
df['Age'].fillna(df['Age'].mean())

0      52.0
1      93.0
2      15.0
3      72.0
4      61.0
       ...
495    93.0
496    67.0
497    76.0
498    26.0
499    16.0
Name: Age, Length: 500, dtype: float64

**Q- 12 How to rename a column?**
| Part                             | Explanation                                                      |
| -------------------------------- | ---------------------------------------------------------------- |
| `df`                             | Your DataFrame                                                   |
| `.rename()`                      | pandas method to rename rows or columns                          |
| `columns={'OldName': 'NewName'}` | Tells pandas: change the column named `'OldName'` to `'NewName'` |

In [88]:
df.rename(columns={'Doctor': 'Name of Doctor'})

,Patient_ID,Name,Age,Gender,Department,Name of Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52.0,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,43183.44,Unpaid
1,P0002,Noah Rhodes,93.0,Male,Orthopedics,Brian Fitzgerald,2025-06-07,NaT,50588.18,Paid
2,P0003,Angie Henderson,15.0,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,64613.02,Paid
3,P0004,Daniel Wagner,72.0,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61.0,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid
...,...,...,...,...,...,...,...,...,...,...
495,P0496,Lawrence Harrington,93.0,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,82822.94,Unpaid
496,P0497,Austin Osborne,67.0,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,88999.61,Pending
497,P0498,James Bradley,76.0,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,26667.58,Pending
498,P0499,Meghan Rush,26.0,Other,Oncology,Edgar Miller,2024-06-28,2025-04-21,25144.26,Pending
499,P0500,Phillip Berry,16.0,Male,Cardiology,Elizabeth Sanders,2024-02-10,2025-05-24,63043.19,Unpaid

**Q- 13. How to convert 'Age' column to integer?**

| Part           | Explanation                                              |
| -------------- | -------------------------------------------------------- |
| `df['Age']`    | Selects the `'Age'` column in the DataFrame.             |
| `.astype(int)` | Converts the values in the column to `int` type.         |

In [90]:
df['Age'] = df['Age'].astype(int)
df

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,43183.44,Unpaid
1,P0002,Noah Rhodes,93,Male,Orthopedics,Brian Fitzgerald,2025-06-07,NaT,50588.18,Paid
2,P0003,Angie Henderson,15,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,64613.02,Paid
3,P0004,Daniel Wagner,72,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid
...,...,...,...,...,...,...,...,...,...,...
495,P0496,Lawrence Harrington,93,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,82822.94,Unpaid
496,P0497,Austin Osborne,67,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,88999.61,Pending
497,P0498,James Bradley,76,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,26667.58,Pending
498,P0499,Meghan Rush,26,Other,Oncology,Edgar Miller,2024-06-28,2025-04-21,25144.26,Pending
499,P0500,Phillip Berry,16,Male,Cardiology,Elizabeth Sanders,2024-02-10,2025-05-24,63043.19,Unpaid

**Q- 14 How to filter patients older than 60?**

| Part             | Meaning                                                          |
| ---------------- | ---------------------------------------------------------------- |
| `df['Age'] > 60` | Creates a **Boolean mask**: True where Age > 60, False otherwise |
| `df[...]`        | Selects only the rows where the condition is True                |

In [92]:
df[df['Age'] > 60]

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
1,P0002,Noah Rhodes,93,Male,Orthopedics,Brian Fitzgerald,2025-06-07,NaT,50588.18,Paid
3,P0004,Daniel Wagner,72,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,87999.33,Unpaid
4,P0005,Cristian Santos,61,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,98487.93,Paid
6,P0007,Abigail Shaffer,83,Male,Neurology,Brandon Fleming,2024-09-07,2024-09-11,44687.84,Pending
7,P0008,Gina Moore,87,Other,Neurology,Emma Reed,2024-05-09,2025-01-18,45028.92,Paid
...,...,...,...,...,...,...,...,...,...,...
492,P0493,William Gould,63,Male,Oncology,Michael Bowen,2024-11-14,2025-07-04,65149.38,Paid
493,P0494,Mark Cox,69,Female,Oncology,Deborah Campbell,2023-11-27,2025-06-30,95383.32,Unpaid
495,P0496,Lawrence Harrington,93,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,82822.94,Unpaid
496,P0497,Austin Osborne,67,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,88999.61,Pending
497,P0498,James Bradley,76,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,26667.58,Pending

**Q- 15 How to filter rows where Gender is 'Female' and Department is 'Cardiology'?**

| Part                               | Explanation                                         |
| ---------------------------------- | --------------------------------------------------- |
| `df['Gender'] == 'Female'`         | Checks if Gender is "Female"                        |
| `df['Department'] == 'Cardiology'` | Checks if Department is "Cardiology"                |
| `&`                                | Logical AND operator (both conditions must be True) |
| `df[...]`                          | Filters the DataFrame to return matching rows       |

In [95]:
df[(df['Gender'] == 'Female') & (df['Department'] == 'Cardiology')]

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
13,P0014,Michele Williams,22,Female,Cardiology,Robert Arnold,2023-12-04,2025-03-07,33149.27,Unpaid
18,P0019,Lisa Jackson,38,Female,Cardiology,Penny Bowman,2024-07-08,2024-12-25,45638.45,Unpaid
28,P0029,Zachary Hicks,48,Female,Cardiology,Kristy Bryan,2024-12-12,2025-06-23,49403.14,Unpaid
66,P0067,Tracy House,78,Female,Cardiology,Paula Lane,2025-03-25,2024-09-01,81904.03,Pending
67,P0068,Carol Tucker,81,Female,Cardiology,Lauren Jackson,2024-09-28,2024-11-22,67247.99,Paid
68,P0069,James Brown,36,Female,Cardiology,Lisa Randall,2024-12-20,2025-06-27,57331.45,Paid
83,P0084,Paul Jones,62,Female,Cardiology,Denise Martinez,2024-12-24,2024-10-02,83344.69,Paid
105,P0106,Marc Moore,65,Female,Cardiology,Todd Rosales MD,2024-02-12,2025-03-26,36836.29,Pending
107,P0108,Sierra Johnson,71,Female,Cardiology,David Lopez,2024-07-02,2025-03-22,20272.19,Unpaid
166,P0167,Alyssa Long,36,Female,Cardiology,David Harris,2025-02-11,2025-01-20,94643.51,Pending
180,P0181,Alexander Collins,28,Female,Cardiology,Suzanne Wood,2024-07-28,2025-06-01,NaN,Pending
183,P0184,Ashley Barton,30,Female,Cardiology,Jennifer Hernandez,2024-12-25,2025-01-19,NaN,Unpaid
191,P0192,Karen Graham,27,Female,Cardiology,Pamela Gutierrez,2025-03-05,NaT,92480.55,Unpaid
223,P0224,Theresa Clark,92,Female,Cardiology,Todd Reynolds,2025-03-10,2025-03-26,63724.79,Unpaid
233,P0234,Laura Roberts,90,Female,Cardiology,Edgar Hughes,2023-12-15,2025-04-22,NaN,Unpaid
238,P0239,Sara Johnston,55,Female,Cardiology,Mr. David Wright,2024-07-01,2024-09-21,24014.27,Pending
239,P0240,Yvonne Chambers,75,Female,Cardiology,Linda Gonzalez,2023-08-21,2024-08-25,20910.85,Pending
267,P0268,Colin Terry,52,Female,Cardiology,Haley Johnson,2023-11-17,2025-05-19,97707.20,Pending
291,P0292,Stephanie Byrd,69,Female,Cardiology,Cody Reid,2024-11-30,2024-12-30,98826.71,Paid
330,P0331,Vanessa Howard,8,Female,Cardiology,Mr. Michael Williams,2024-11-08,2025-02-13,17433.00,Paid
331,P0332,Colton Martinez,7,Female,Cardiology,Richard Stevens,2024-05-16,2025-06-23,97133.00,Unpaid
356,P0357,Jesse Perry,48,Female,Cardiology,Elizabeth Holmes,2024-01-31,2025-03-18,10423.25,Pending
361,P0362,Laurie Hoffman,49,Female,Cardiology,Bonnie Valencia,2024-03-01,2024-08-11,47958.91,Unpaid
373,P0374,Sergio Knight,46,Female,Cardiology,Amy Miller,2024-10-21,2025-01-21,NaN,Paid
384,P0385,Aimee Turner,67,Female,Cardiology,Holly Scott,2024-01-30,2025-05-28,13920.57,Pending
407,P0408,Jeremy Turner,93,Female,Cardiology,Kelly Haynes,2024-12-15,2025-02-14,99944.30,Pending
434,P0435,Ashley Wise,48,Female,Cardiology,Michael Thompson,2023-09-20,2024-07-29,40458.92,Pending
450,P0451,Brittany Kim,60,Female,Cardiology,Rebecca Kelly,2025-05-04,2025-07-08,55692.24,Unpaid
477,P0478,Judith Carter,62,Female,Cardiology,NaN,2024-04-04,2024-09-02,44287.16,Pending
483,P0484,Steve Paul,1,Female,Cardiology,Sean Curtis,2023-11-01,2025-02-11,72359.39,Unpaid

**Q- 16 How to sort the data by 'Bill_Amount' in descending order?**

| Part                  | Meaning                                                 |
| --------------------- | ------------------------------------------------------- |
| `df.sort_values(...)` | Sorts the DataFrame                                     |
| `'Bill_Amount'`       | The column used for sorting                             |
| `ascending=False`     | Sort in **descending** order (use `True` for ascending) |

In [96]:
df.sort_values('Bill_Amount', ascending=False)

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
407,P0408,Jeremy Turner,93,Female,Cardiology,Kelly Haynes,2024-12-15,2025-02-14,99944.30,Pending
152,P0153,Denise Jones,90,Male,Pediatrics,David Robinson,2023-11-01,2025-03-05,99726.83,Unpaid
276,P0277,Wayne Morgan,89,Male,Cardiology,Tina Hall,2023-08-03,2025-03-06,99651.72,Pending
47,P0048,Shane Henderson,73,Other,Neurology,Julie Herrera,2024-12-27,2024-12-07,99516.24,Pending
31,P0032,James Ferrell,42,Female,Neurology,Mark Jimenez,2024-12-12,NaT,99161.02,Pending
...,...,...,...,...,...,...,...,...,...,...
373,P0374,Sergio Knight,46,Female,Cardiology,Amy Miller,2024-10-21,2025-01-21,NaN,Paid
396,P0397,Jennifer Collins,23,Other,Orthopedics,Aimee Gonzalez,2024-04-04,2025-03-29,NaN,Pending
397,P0398,Gary Jackson,66,Other,Cardiology,Elizabeth Dean,2025-01-27,2025-01-05,NaN,Unpaid
400,P0401,Robin Young,90,Male,Orthopedics,Danielle Smith,2024-12-27,2025-05-28,NaN,Pending
463,P0464,Taylor Carlson,40,Other,Neurology,Tom Foster,2024-08-04,2024-07-30,NaN,Pending

**Q- 17  How to reset the index of a DataFrame?"**

| Part               | Meaning                                                    |
| ------------------ | ---------------------------------------------------------- |
| `df.reset_index()` | Resets the index of the DataFrame                          |
| `drop=True`        | Deletes the old index instead of adding it as a new column |
| `inplace=True`     | Applies the change directly to the original DataFrame      |

In [125]:
df.reset_index(drop = True, inplace=True)
df

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,52489.741217,Unpaid
1,P0002,Noah Rhodes,93,Male,Orthopedics,Brian Fitzgerald,2025-06-07,NaT,61490.248966,Paid
2,P0003,Angie Henderson,15,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,78537.529641,Paid
3,P0004,Daniel Wagner,72,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,106963.735611,Unpaid
4,P0005,Cristian Santos,61,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,119712.694465,Paid
...,...,...,...,...,...,...,...,...,...,...
495,P0496,Lawrence Harrington,93,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,100671.801213,Unpaid
496,P0497,Austin Osborne,67,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,108179.582203,Pending
497,P0498,James Bradley,76,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,32414.610162,Pending
498,P0499,Meghan Rush,26,Other,Oncology,Edgar Miller,2024-06-28,2025-04-21,30563.005182,Pending
499,P0500,Phillip Berry,16,Male,Cardiology,Elizabeth Sanders,2024-02-10,2025-05-24,76629.391465,Unpaid

**Q- 18. How to check unique values in 'Payment_Status' column?**

| Part                   | Meaning                                        |
| ---------------------- | ---------------------------------------------- |
| `df['Payment_Status']` | Accesses the `Payment_Status` column           |
| `.unique()`            | Returns all unique values as a **NumPy array** |

In [123]:
df['Payment_Status'].unique()

array(['Unpaid', 'Paid', 'Pending'], dtype=object)

**Q- 19 How to count the number of occurrences of each value in 'Gender'?**

| Part              | Description                                                                     |
| ----------------- | ------------------------------------------------------------------------------- |
| `df["Gender"]`    | Selects the `'Gender'` column from the DataFrame                                |
| `.value_counts()` | Returns a count of each **unique value**, sorted by default in descending order |

In [106]:
df["Gender"].value_counts()

Gender
Male      188
Female    160
Other     152
Name: count, dtype: int64

**Q- 20. How to apply a function to every element in a column?**

| Part                 | Meaning                                                         |
| -------------------- | --------------------------------------------------------------- |
| `df['Bill_Amount']`  | Selects the `'Bill_Amount'` column                              |
| `.apply(...)`        | Applies a function to **each element** in the column            |
| `lambda x: x * 1.05` | Anonymous function: multiplies each value by `1.05` (i.e., +5%) |
| `=` assignment       | Saves the updated values back into the `'Bill_Amount'` column   |

In [121]:
df['Bill_Amount'] = df['Bill_Amount'].apply(lambda x: x * 1.05)
df

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
0,P0001,Allison Hill,52,Other,Pediatrics,Jennifer Banks,2024-07-26,2024-10-01,52489.741217,Unpaid
1,P0002,Noah Rhodes,93,Male,Orthopedics,Brian Fitzgerald,2025-06-07,NaT,61490.248966,Paid
2,P0003,Angie Henderson,15,Female,Neurology,Mr. Justin Green III,2024-12-07,2025-05-08,78537.529641,Paid
3,P0004,Daniel Wagner,72,Male,Cardiology,Zachary Mitchell,2024-02-03,2024-09-15,106963.735611,Unpaid
4,P0005,Cristian Santos,61,Male,Oncology,Katherine Martinez,2023-09-21,2025-02-20,119712.694465,Paid
...,...,...,...,...,...,...,...,...,...,...
495,P0496,Lawrence Harrington,93,Other,Orthopedics,Brittany Ward,2024-11-16,2025-04-06,100671.801213,Unpaid
496,P0497,Austin Osborne,67,Female,Orthopedics,Edward Stanley,2023-08-27,2025-02-21,108179.582203,Pending
497,P0498,James Bradley,76,Female,Pediatrics,Christina Johnson,2023-07-16,2024-09-17,32414.610162,Pending
498,P0499,Meghan Rush,26,Other,Oncology,Edgar Miller,2024-06-28,2025-04-21,30563.005182,Pending
499,P0500,Phillip Berry,16,Male,Cardiology,Elizabeth Sanders,2024-02-10,2025-05-24,76629.391465,Unpaid

# 21-30: Grouping, Aggregation, and Pivot

**Q- 21. How to get average bill amount per department?**
| Part                       | Description                                               |
| -------------------------- | --------------------------------------------------------- |
| `df.groupby('Department')` | Groups the rows by unique values in `'Department'`        |
| `['Bill_Amount']`          | Focuses only on the `'Bill_Amount'` column                |
| `.mean()`                  | Calculates the **average** of `Bill_Amount` in each group |

In [109]:
df.groupby('Department')['Bill_Amount'].mean()

Department
Cardiology     60137.294565
Neurology      58913.283428
Oncology       58756.004643
Orthopedics    60732.463249
Pediatrics     59137.027332
Name: Bill_Amount, dtype: float64

**Q- 22. How to count patients per department?"**

| Part               | Description                                                                 |
| ------------------ | --------------------------------------------------------------------------- |
| `df['Department']` | Selects the `'Department'` column                                           |
| `.value_counts()`  | Counts the frequency of each unique value (by default, in descending order) |

In [113]:
df['Department'].value_counts()

Department
Orthopedics    108
Cardiology     103
Neurology      101
Oncology       101
Pediatrics      87
Name: count, dtype: int64

**Q- 23. How to group by 'Gender' and count how many patients per gender?**

| Part                   | Description                                                         |
| ---------------------- | ------------------------------------------------------------------- |
| `df.groupby('Gender')` | Groups the rows by unique values in `'Gender'` (e.g., Male, Female) |
| `['Patient_ID']`       | Focuses on the `'Patient_ID'` column                                |
| `.count()`             | Counts **non-null** entries in that column per group                |

In [115]:
df.groupby('Gender')['Patient_ID'].count()

Gender
Female    160
Male      188
Other     152
Name: Patient_ID, dtype: int64

**Q- 24 How to group by multiple columns (Gender & Payment_Status) and get mean bill?**
| Part                                       | Description                                                          |
| ------------------------------------------ | -------------------------------------------------------------------- |
| `df.groupby(['Gender', 'Payment_Status'])` | Groups rows by each **combination** of `Gender` and `Payment_Status` |
| `['Bill_Amount']`                          | Focuses only on the `Bill_Amount` column                             |
| `.mean()`                                  | Calculates the **mean** of `Bill_Amount` for each group              |

In [126]:
df.groupby(['Gender', 'Payment_Status'])['Bill_Amount'].mean()

Gender  Payment_Status
Female  Paid              65265.170361
        Pending           61557.228570
        Unpaid            65307.707182
Male    Paid              58995.606010
        Pending           68105.473411
        Unpaid            70146.860307
Other   Paid              70830.984374
        Pending           62492.138675
        Unpaid            71377.304308
Name: Bill_Amount, dtype: float64

**Q- 25 How to create a pivot table for average bill per department and payment status?**

| Part                       | Description                                                             |
| -------------------------- | ----------------------------------------------------------------------- |
| `pd.pivot_table(...)`      | Creates a pivot table                                                   |
| `values='Bill_Amount'`     | The column whose values you want to **aggregate** (i.e., average)       |
| `index='Department'`       | Rows will be grouped by this column                                     |
| `columns='Payment_Status'` | Each unique value becomes a **separate column** (like 'Paid', 'Unpaid') |
| `aggfunc='mean'`           | Calculates the **average** of `Bill_Amount`                             |

In [127]:
pd.pivot_table(df, values='Bill_Amount', index='Department', columns='Payment_Status', aggfunc='mean')

Payment_Status          Paid       Pending        Unpaid
Department
Cardiology      67403.622414  63271.087173  66907.146796
Neurology       67419.529646  59974.014315  67381.458197
Oncology        59189.031938  68411.376977  67627.333945
Orthopedics     63154.652209  65832.070718  71136.015764
Pediatrics      62218.809231  60110.849063  70970.193136

**Q- 26. How to find total bill amount per doctor?**
| Part                   | Description                                                            |
| ---------------------- | ---------------------------------------------------------------------- |
| `df.groupby('Doctor')` | Groups all rows by the `'Doctor'` column                               |
| `['Bill_Amount']`      | Focuses on the `'Bill_Amount'` column only                             |
| `.sum()`               | Adds up the values for each group (i.e., total bill amount per doctor) |

In [131]:
df.groupby('Doctor')['Bill_Amount'].sum()

Doctor
Aaron Parker         65859.301096
Aaron Schroeder      51236.931080
Adam Jackson         58643.205142
Adam Taylor          56725.804808
Aimee Gonzalez           0.000000
                        ...
Zachary Cole         79005.742649
Zachary Mendoza      32631.103981
Zachary Michael      46017.717413
Zachary Mitchell    106963.735611
Zachary Robinson     73071.835617
Name: Bill_Amount, Length: 473, dtype: float64

**Q- 27. How to find max bill per department?**
| Part                       | Description                                                  |
| -------------------------- | ------------------------------------------------------------ |
| `df.groupby('Department')` | Groups all rows based on department name                     |
| `['Bill_Amount']`          | Focuses on the `Bill_Amount` column                          |
| `.max()`                   | Returns the **highest bill amount** in each department group |

In [132]:
df.groupby('Department')['Bill_Amount'].max()

Department
Cardiology     121482.921302
Neurology      120962.611697
Oncology       120006.761892
Orthopedics    120132.894975
Pediatrics     121218.585158
Name: Bill_Amount, dtype: float64

**Q-28. How to filter grouped results (doctors with more than 1 patients)?**
| Part                            | Description                                                  |
| ------------------------------- | ------------------------------------------------------------ |
| `df.groupby('Doctor')`          | Groups the DataFrame by each unique doctor                   |
| `.filter(lambda x: len(x) > 1)` | Keeps only those groups (doctors) that have more than 5 rows |

In [144]:
df.groupby('Doctor').filter(lambda x: len(x) > 1)

,Patient_ID,Name,Age,Gender,Department,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
119,P0120,Jeffrey Chandler,33,Other,Cardiology,Elizabeth Mendez,2024-05-29,2025-01-12,96128.688588,Paid
125,P0126,Erin Edwards,72,Male,Cardiology,Michael Miller,2025-02-21,2025-03-13,79128.338609,Unpaid
287,P0288,Carolyn Miller,2,Other,Oncology,Elizabeth Mendez,2024-01-03,2025-01-17,91840.151592,Unpaid
367,P0368,Holly Farmer,46,Male,Oncology,Michael Miller,2025-06-10,2024-08-15,120006.761892,Pending

**Q- 29. How to count null values in each column using groupby?**
df.drop(columns='Department')
This removes the 'Department' column from the DataFrame before doing any calculations.

Why? Because it's being used as the group key — and including it inside the grouped data would cause redundancy or conflict.

2. .groupby(df['Department'])
Groups the original DataFrame based on the values in 'Department'.

Even though we dropped 'Department' from the calculation, we still group by it.

3. .apply(lambda x: x.isnull().sum())
For each department group:

x.isnull() creates a True/False DataFrame indicating missing values.

.sum() counts how many True (i.e., null) values exist column-wise.

In [152]:
df.drop(columns='Department').groupby(df['Department']).apply(lambda x: x.isnull().sum())

,Patient_ID,Name,Age,Gender,Doctor,Admission_Date,Discharge_Date,Bill_Amount,Payment_Status
Department,,,,,,,,,
Cardiology,0,0,0,0,5,0,4,10,0
Neurology,0,0,0,0,4,0,7,4,0
Oncology,0,0,0,0,2,0,3,4,0
Orthopedics,0,0,0,0,6,0,6,5,0
Pediatrics,0,0,0,0,8,0,5,2,0

**Q- 30. How to aggregate multiple statistics?**
| Part                           | Description                                                                     |
| ------------------------------ | ------------------------------------------------------------------------------- |
| `df.groupby('Department')`     | Groups the DataFrame by each unique value in `'Department'`                     |
| `['Bill_Amount']`              | Focuses only on the `'Bill_Amount'` column                                      |
| `.agg(['mean', 'min', 'max'])` | Aggregates the group with **multiple functions**: average, minimum, and maximum |

In [154]:
df.groupby('Department')['Bill_Amount'].agg(['mean', 'min', 'max'])

                     mean          min            max
Department
Cardiology   66301.367257  9833.433407  121482.921302
Neurology    64951.894980  6647.968333  120962.611697
Oncology     64778.495119  6814.930272  120006.761892
Orthopedics  66957.540732  6950.836025  120132.894975
Pediatrics   65198.572634  6742.498254  121218.585158